/*
.area {
  height: 250px;
  width: 250px;
  background: lightgray;
}

.p {
  padding: 15px;
}

.marginTop10{
  margin-top: 10px;;
}
*/

.area {
  height: 250px;
  width: 250px;
  background: lightgray;
  border-radius: 50%;
}

.p {
  padding: 15px;
}

.marginTop10{
  margin-top: 10px;
}

.invisivel{
  display: none;
}